@model GGsWeb.Models.User

@{
    ViewData["Title"] = "GetCustomerInformation";
}

<h1>GetCustomerInformation</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="GetCustomerInformation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="id" class="control-label" hidden="hidden"></label>
                <input asp-for="id" class="form-control" hidden="hidden"/>
                <span asp-validation-for="id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label" hidden="hidden"></label>
                <input asp-for="email" class="form-control"  hidden="hidden"/>
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="password" class="control-label" hidden="hidden"></label>
                <input asp-for="password" class="form-control"  hidden="hidden"/>
                <span asp-validation-for="password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="locationId" class="control-label" hidden="hidden"></label>
                <input asp-for="locationId" class="form-control"  hidden="hidden"/>
                <span asp-validation-for="locationId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="type" class="control-label" hidden="hidden"></label>
                <input asp-for="type" class="form-control"  hidden="hidden"/>
                <span asp-validation-for="type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

