@using GGsWeb.Features
@model List<Alert>
@{
    ViewData["Title"] = "Alerts";
}

@foreach (var alert in Model)
{
    var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;

    <div class="alert alert-@alert.AlertStyle @dismissableClass">
        @if (alert.Dismissable)
        {
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        }
        @Html.Raw(alert.Message)
    </div>
}

